.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url(../assets/background.jpg);
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
}

.auth-content {
  max-width: 400px;
  width: 100%;
  padding: 30px;
  background-color: #1f1a1a;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  color: #e0e0e0;
}

.auth-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #ffffff;
}

.error-message {
  background-color: #4a1c1c;
  border: 1px solid #ff3030;
  color: #ff8585;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
}
.sucess-message{
  background-color: #1c4a1c;
  border: 1px solid #30ff30;
  color: #85ff85;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;

}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #b0b0b0;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #444444;
  border-radius: 4px;
  background-color: #2c2c2c;
  color: #e0e0e0;
}

.btn {
  width: 100%;
  padding: 10px;
  margin-bottom: 1em;
  background-color: #771717;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover {
  background-color: #a11c1c;
}

