/* CSS */
.movie-card {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.fade-out {
    opacity: 0;
    transform: translateY(-20px);
    /* Adjust this value based on the height of your movie card */
}